<!-- BARRA DE NAVEGACION -->

<nav class="navbar navbar-expand-lg bg-body-tertiary text-bg-dark">
    <div class="container-fluid justify-content-center">
 
      <div class="collapse navbar-collapse d-sm" id="navbarScroll">
        <ul class="navbar-nav mx-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
          <li *ngFor="let categoria of categoriaList" class="nav-item dropdown d-flex">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              {{ categoria.name }}
            </a>
            <ul class="dropdown-menu">
              <ng-container *ngFor="let subcategoria of allDatos">
                <li *ngIf="subcategoria.cod_id.startsWith(categoria.cod_id)">
                  <a class="dropdown-item" href="#" >{{ subcategoria.name }}</a>
                </li>
              </ng-container>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Ver mas</a></li>
            </ul>
          </li>
        </ul>
      </div>
        
    </div>
</nav>

