<!-- ENCABEZADO O HEADER DE PAGINA -->
  
<header class="p-3">  <!--text-bg-dark-->
    <div class="container justify-content-center">
      <div class="row d-flex align-items-center">
        <div class="col-12 col-lg-4 align-items-center d-flex-none-justify-content-center">
          <a href="/" class="d-flex align-items-center justify-content-center mb-2 mb-lg-0 text-white text-decoration-none" id="logoVMDJ">
            <img src="./assets/branding/logo_MDJ_horizontal.png" alt="" id="logoV">
          </a>
        </div>
        <div class="col-lg-8">
          <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
            <input type="search" class="form-control form-control-dark" placeholder="Buscar..." aria-label="Search">  <!--text-bg-dark-->
          </form>
  
        </div>

        <!--  LOGIN + SHOPPING CARDS -->

   <!--     <div class="col-lg-4 d-flex justify-content-end" id="login">
            <button type="button" class="btn btn-outline-dark me-2">Login</button>  ////light
            <button type="button" class="btn btn-warning"
            ><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
              <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
            </svg>
        
            </button>
            
        </div>  -->

<!--        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="#" class="nav-link px-2 text-secondary">Home</a></li>
          <li><a href="#" class="nav-link px-2 text-white">Features</a></li>
          <li><a href="#" class="nav-link px-2 text-white">Pricing</a></li>
          <li><a href="#" class="nav-link px-2 text-white">FAQs</a></li>
          <li><a href="#" class="nav-link px-2 text-white">About</a></li>
        </ul>
      -->
                
      </div>
    </div>
  </header>

  <!-- BARRA DE NAVEGACION -->
<!--
  <nav class="navbar navbar-expand-lg bg-body-tertiary text-bg-dark">
    <div class="container-fluid">
  
      <div class="collapse navbar-collapse" id="navbarScroll">
        <ul class="navbar-nav mx-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Hogar
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Cocinas</a></li>
              <li><a class="dropdown-item" href="#">Heladeras</a></li>
              <li><a class="dropdown-item" href="#">Lavarropas</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Ver mas</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Audio
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>         
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Tecnologia
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          
        </ul>
        
      </div>
    </div>
  </nav>-->